
.cus-cls-h{
    background-color: #FFF9F4;
}
h1{
    font-family: 'Bebas Neue', cursive;
}
h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}
#last-image{
    width: 600px;
    height: 355px;
    
}
